################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CashFundManagement/.vs
/CashFundManagement/bin/Debug
/CashFundManagement/obj
/CashFundManagement/CashFundManagement-24R1.csproj.user
/CashFundManagement/CashFundManagement-24R1.csproj.vspscc
/CashFundManagement/CashFundManagement.csproj.user
/CashFundManagement/CashFundManagement.csproj.vspscc
/CashFundPhilippineTax/obj
/CashFundPhilippineTax/bin
*.vspscc
CashFundPhilippineTax/CashFundPhilippineTax.csproj.user
/UpdateLocal/bin
/UpdateLocal/obj
/CashFundPhilippineTax/.vs
/UpdateLocal/.vs
CashFundPhilippineTax/CashFundPhilippineTax-24R1.csproj.user
/UpgradeLog.htm
/ProjectSourceControl/bin
/ProjectSourceControl/obj
/CashFundManagement/CashFundManagement-24R2.csproj.user
/CashFundManagement/CashFundManagement-25R1.csproj.user
/.github/workflows/.vs/workflows/copilot-chat/cc8af23b/sessions
/.github/workflows/.vs/workflows/CopilotIndices/17.14.939.21063
/.github/workflows/.vs/workflows/FileContentIndex
/.github/workflows/.vs/workflows/v17
/.github/workflows/.vs
/SCRIPTS
/batUpdateLocal/
